# put your configuration values here

[runtime]
log_level="ERROR"  # ERROR hides warning as stripe has many tables that with potentially no data and it might flow the log
# use the dlthub_telemetry setting to enable/disable anonymous usage data reporting, see https://dlthub.com/docs/reference/telemetry
dlthub_telemetry = false

[sources.filesystem]
local_dir = "/home/sspaeti/Documents/datalake/dlt-stage" # fill this in!
bucket_url = "https://s3.us-west-1.amazonaws.com" # fill this in!

[sources.aws_cur]
bucket_url = "s3://cost-analysis-demo-sspaeti"
file_glob = "cur/CUR-export-test/data/**/*.parquet"
table_name = "cur_export_test_00001"
